/*!
 Theme Name:   Sagalbot - Twenty Fourteen
 Theme URI:    http://example.com/twenty-fourteen-child/
 Description:  Twenty Fourteen Child Theme
 Author:       John Doe
 Author URI:   http://example.com
 Template:     twentyfourteen
 Version:      1.0.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-fourteen-child
*/


/* Variables */

$green: #24890d;
$green-bright: #55d737;
$green-hover: #41a62a;

$purple: adjust-hue($green, 180);

$blue: adjust-hue($green, 180);

$gray-dark: #2b2b2b; // $gray-dark: #ededed;
$gray-light: #dbdbdb;
$gray: darken($gray-light, 35%);

$highlight-color: $purple;
$highlight-color-hover: saturate(adjust-hue($highlight-color, 10), 100);

$accent-color: $purple;	

$header-background: rgba(255,255,255,.75);
$header-background-hover: rgba(255,255,255,1);
$header-text-color: #000;

$sidebar-text: #333333;
$sidebar-primary-bg: #ffffff;
$sidebar-primary-heading-color: $gray;

$primary-content-width: 600px;

$code-width: 900px;

/* Dependancies */

@import "bourbon/bourbon";
@import "../twentyfourteen/style.css";
@import "modules/colors";
@import "modules/fonts";

/* Layout */

.site {
	max-width: 100%;
	
	&:before {
		background: $sidebar-primary-bg;
	}

	.site-title a:hover {
		color: #000;
	}

	.site-title .genericon {
		display: inline;
		font-size: 165%;
		position: relative;
		top: 8px;
		left: 5px;
	}

}

// .site-header {
// 	background-color: #000;
// 	max-width: 100%;
// }

// #site-header {
// 	background: #000;
// 	// text-align: center;
// }

.site-content .entry-header,
.site-content .entry-content,
.site-content .entry-summary,
.site-content .entry-meta,
.page-content {
	max-width: $primary-content-width;
}

//  Code Icons
.primary-navigation li.code-sagalbot {

	a:hover {
		background: none;
		color: $green-bright;
	}
}
.primary-navigation li a i.genericon {
	display: inline;
	font-size: 165%;
	line-height: -3.9;
	position: relative;
	top: 5px;
	left: -3px;
}
.primary-navigation li a i.icon-fontello {
	left: 0;
	left: -2px;
	position: relative;
	font-size: 105%;
}

/* Primary Sidebar & Widgets */

#secondary {
	background: $sidebar-primary-bg;
}

#primary-sidebar {
	.widget {
		color: $gray;

		a {
			color: $gray-dark;
		}

		a:hover {
			color: $highlight-color-hover;
		}
	}

	.widget input[type=text],
	.widget input[type=search] {
		color: $green;
		border-bottom: 1px solid $gray;
		@include transition(border .25s);

		&:focus {
			border-bottom: 4px solid $blue;
		}
	}

	.widget-title,
	.widget-title a {
		color: $sidebar-primary-heading-color;
	}
}

/* Post Thumbnails */

.post-thumbnail {
	background: url('http://subtlepatterns.com/patterns/cream_pixels.png') repeat;
}

/* Plugin Specific */

.syntaxhighlighter.sagalbot {
	@media (min-width: $code-width) {
		width: $code-width !important;
		left: -( $code-width - $primary-content-width ) / 2;
	}
	width: 100%;
	border: 4px solid #efefef;
	border-top: none;
	border-bottom: none;
}

/* Footer */

.site-footer {
	// background: $gray;
}